<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <title>Oops!</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<div class="errorPage">
    <span class="oops">Oops!</span><br/>
    <img th:src="@{/MissingPage.png}"/>
    <p>There seems to be a problem with the page you requested
        (<span th:text="${path}"></span>).</p>
    <p th:text="${'Details: ' + message}"></p>
    <p th:text="${'trace: ' + trace}"></p>
    <p th:text="${'error: ' + error}"></p>
    <p th:text="${'exception: ' + exception}"></p>
    <p th:text="${'status: ' + status}"></p>
</div>
</html>