<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <title>ReadingList</title>
    <link rel="stylesheet" th:href="@{css/style.css}"></link>
</head>
<body>
<h2>Your Reading List</h2>
<div th:unless="${#lists.isEmpty(books)}">
    <dl th:each="book : ${books}">
        <dt class="bookHeadline">
                <a th:href="'http://www.amazon.com/gp/product/'
                + ${book.isbn}+'/tag='
                + ${amazonID}" th:text="${book.title}">Title</a>
            by
            <span th:text="${book.author}">Author</span>
            (ISBN: <span th:text="${book.isbn}">ISBN</span>)
    <button name="remove" >remove</button>
        </dt>
        <dd class="bookDescription">
<span th:if="${book.description}"
      th:text="${book.description}">Description</span>
            <span th:if="${book.description eq ''}">
No description available</span>
        </dd>
    </dl>
</div>
<div th:if="${#lists.isEmpty(books)}">
    <p>You have no books in your book list</p>
</div>
<hr/>
<h3>Add a book</h3>
<form method="POST">
    <label for="title">Title:</label>
    <input type="text" name="title" size="50"/><br/>
    <label for="author">Author:</label>
    <input type="text" name="author" size="50"/><br/>
    <label for="isbn">ISBN:</label>
    <input type="text" name="isbn" size="15"/><br/>
    <label for="description">Description:</label><br/>
    <textarea name="description" cols="80" rows="5">
</textarea><br/>
    <input type="submit"/>
</form>
</body>
</html>
